.textblock_01 {
  width: 100%;
  margin-bottom: 0;
}
.work_banner {
  background-image: url("../img/artisanHan/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_title {
  color: #000000;
}

.fullimg_block {
  margin: 75px auto;
}

#initialversion {
  width: 800px;
}

#fullLayout {
  width: 800px;
}

#apply01 {
  width: 817px;
}

#apply02 {
  width: 100%;
}

.imgBlock {
  display: flex;
}

.imgBlock img {
  width: 50%;
}
