h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(0, 0, 0);
}

body,
html {
  background-color: rgb(255, 255, 255);
}

p {
  letter-spacing: 1.5px;
  line-height: 1.75;
}

#nav_text h1 {
  margin-left: 20px;
  color: rgb(0, 0, 0);
}
.custom-icon {
  margin-left: 20px;
  font-size: 24px;
  line-height: 30px;
  color: rgb(0, 0, 0);
}

#footer_text h5 {
  color: rgb(0, 0, 0);
}
