body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.banblock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: "Barlow", "Noto Sans TC", sans-serif;
  font-weight: 400;
  position: fixed;
}
.container {
  width: 1000px;
  height: auto;
  margin: auto;
  padding: 0;
}

.containerWrapper {
  background-color: #fff;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 99;
}

#nav {
  width: 1000px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: fixed;
  z-index: 99;
}

#nav_logo {
  height: 40px;
}

#nav_text {
  display: flex;
  align-items: center;
  justify-content: end;
}

#nav_text h1 {
  margin-left: 20px;
  line-height: 30px;
  color: white;
}

#null {
  height: 100px;
  width: 100%;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

h3 {
  font-family: "Barlow", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
}

#igIcon {
  width: auto;
  height: 24px;
}

.custom-icon {
  margin-left: 20px;
  font-size: 24px;
  line-height: 30px;
  color: white;
}

#footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

#footer_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h5 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
}

#footer_text h5 {
  color: white;
}
.banner_wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.work_banner {
  width: 100%;
  height: 650px;
  margin-bottom: 40px;
  background-color: antiquewhite;
}

.textblock_01 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 60px;
}

p {
  font-size: 18px;
  font-family: "Barlow", "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 1.05px;
}
.info {
  width: 35%;
  height: auto;
}
.info_title {
  font-size: 32px;
  color: #e4240f;
  font-family: "Barlow", "Noto Sans TC", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.info_year {
  margin-bottom: 20px;
}

.description {
  width: 60%;
  height: auto;
  font-size: 16px;
}

/* 獎勵小旗子 */
.awardRibbon {
  position: absolute;
  top: 0;
  left: 15px;
  width: auto;
  height: auto;
  z-index: 2;
  transform: scaleY(1);
}

.awardRibbonTop {
  width: auto;
  height: 0px;
  transform-origin: top;
}

.awardRibbon:hover .awardRibbonTop {
  height: 5px;
}

.awardRibbon_text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 95px;
  left: -10px;
  padding: 10px;
  width: 80px;
  height: auto;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.27);
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.awardRibbon:hover .awardRibbon_text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1000px) {
  .banblock {
    display: flex;
    font-size: 16px;
  }
}
