#nav_mb {
  display: none;
}

@media (max-width: 1000px) {
  #nav {
    display: none;
  }

  #nav_mb {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0;
    position: fixed;
    z-index: 99;
    background-color: black;
  }
  #nav_mb div:first-child {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #nav_mb_logo {
    height: 45px;
  }
  #burger {
    height: 25px;
  }

  #nav_mb_text {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 8px 0;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  #nav_mb_text h1 {
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-align: center;
    margin: 8px 0px;
  }

  .container {
    width: 300px;
    height: auto;
    margin: auto;
    padding: 0;
  }
  h5 {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 1.25;
  }

  #footer_logo {
    height: 35px;
  }
}
