body,
html {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

p {
  letter-spacing: 1.5px;
  line-height: 1.75;
}

.work_banner {
  background-image: url("../img/teaPackaging/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerWrapper {
  background-color: #000;
}

.fullimg_block {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}
#customType {
  width: 80%;
}

#aiCover img {
  width: 50%;
  height: auto;
}

#aiBlock {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}

#aiBlock img {
  width: 50%;
}

#packagePhoto {
  flex-direction: column;
}
#packagePhoto div:nth-child(1) {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#packagePhoto div:nth-child(1) img {
  width: 49.75%;
  margin-bottom: 5px;
}

#packaging03 {
  width: 100%;
}
